<div class="container mt-5 ">
    <div class="row">
      <div class="col align-self-start">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
      <div class="col align-self-center">
  
      </div>
      <div class="col align-self-end">
        <button type="button" class="btn btn-primary" [routerLink]="['/adduser']">Add &nbsp;<i class="bi bi-plus-circle"></i></button>
      </div>
    </div>
  
    <div class="row mt-4">
  
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">PassWord</th>
            <th scope="col">PhoneNumber</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <th scope="row">{{user.userId}}</th>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>
            <td>{{user.phonenumber }}</td>
          
            <td><button (click)="onDelete(user.userId)" class="btn btn-danger">Delete &nbsp;<i
                  class="bi bi-x-lg"></i></button>&nbsp;
              <button (click)="onEdit(user.id)" class="btn btn-secondary" >Edit &nbsp;<i
                  class="bi bi-vector-pen"></i></button>
            </td>
          </tr>
  
        </tbody>
      </table>
    </div>
  
  </div>
  
