<div class="container">


<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Duedate</th>
      <th scope="col">priority</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <th scope="row">{{task.id}}</th>
      <td>{{task.title}}</td>
      <td>{{task.description}}</td>
      <td>{{task.duedate}}</td>
      <td>{{task.priority}}</td>
      <td><button>delete</button>&nbsp;<button>edit</button></td>
    </tr>
   
  </tbody>
</table>

</div>