<div class="container mt-5 col-4">
    <form [formGroup]="taskform" (ngSubmit)="onSumit()" class="row g-3">
        <div class="col-12">
           <h4>Add a New Task</h4>
        </div>

        <div class="col-12">
            <label for="inputAddress" class="form-label">Title</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Yoru Title Here" formControlName="title">
        </div>
        <div class="col-12">
            <label for="inputAddress2" class="form-label">Description </label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Description" formControlName="description">
        </div>
        <div class="col-12">
            <label for="inputAddress2" class="form-label">DeuDate </label>
            <input type="date" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" formControlName="dueDate">
        </div>
        <div class="col-12">
            <label for="inputState" class="form-label">priority</label>
            <select id="inputState" class="form-select" formControlName="priority">
                <option value="High" >High</option>
                <option value="Medium">Medium</option>
                <option value="Low">Low</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="usersDrop" class="form-label">Users</label>
            <select class="form-control" id="usersDrop" formControlName="userId">
              <option *ngFor="let user of users" [value]="user.userId">{{user.name}}</option>
            </select>
          </div>
          

        <div class="col-12">
            <button type="submit" class="btn btn-primary" >Add</button>&nbsp; &nbsp;
            <button type="submit" class="btn btn-secondary"  (click)="onCancel()" [routerLink]="['']">Cancel &nbsp;<i class="bi bi-box-arrow-in-left"></i></button>
        </div>
    </form>
</div>